a{
    text-decoration: none;
}
form{
    margin-top: 10%;
}
input{
    width: 80%;
    margin: 5px;

    font-size: large;
    border: 0;
    background: none;
}
.box{
    border-bottom:  solid black 1px;

    text-align: center;
}

#enviar{
    font-size: inherit;
    margin: 0;
}